<div class="whole-album-artist" id="all-songs-artist">
    <div class="title"><%= title%></div>

    <div class="album-artist-details-photo">
        <a href="/user/artist-all-songs/?artist_id=<%=artist._id%>" class="each-artist-all"><img src="<%=artist.photo%>" alt="" class="artist-photo-big"></a>
    </div>

    <div class="album-artist-name-heading">
        <a href="/user/artist-all-songs/?artist_id=<%=artist._id%>" class="each-artist-all"><%=artist.name%></a>
    </div>

    <div class="songs-container">

        <% for (song of artist.songs) { %>
            <div class="each-song" id="each-song-<%=song._id%>">
                <div class="song-info">
                    <div class="details">
                        <div>
                            <span class="song-name"><%=song.name%></span>
                            <br>
                            <span class="song-artist-album"><%=song.album.name%></span>
                                
                        </div>
                        <div class="controls">
                            <%if(locals.user){%>
    
                                <% var flag = 0 %>
                                <% for(fav of song.likedby) {%>
                                    <% if (fav.user._id == locals.user.id) {%>
                                        <% flag = 1 %>
                                        <a href="/user/favourite/toggle-fav/?song_id=<%=song.id%>&loc=home" class="add-fav" style="color: red"><i class="fas fa-heart" ></i></a>  
                                        
                                    <% } %>    
                                <% } %> 
                                
                                <% if(flag == 0) { %>
                                    <a href="/user/favourite/toggle-fav/?song_id=<%=song.id%>&loc=home" class="add-fav" style="color: white"><i class="fas fa-heart"></i></a>
                                <% } %>
                                <a href="" class="add-que"><i class="fas fa-plus"></i></a>   
                                    
                            <%}%>
                        </div>
                    </div>
                    
                    
                
                </div>
                <a href="/user/play/?song_id=<%=song._id%>" class="play-btn" id="play-btn-<%=song._id%>"><i class="fas fa-play"></i></a>
                <audio class="audio"></audio>
            </div>
        <% } %>    

    </div>

</div>

