<div class="whole-fav" id="favourite-artists">
    <div class="title"><%= title%></div>

    <div class="albums-artists-container">

        <% var obj = new Object() %>

        <% for(fav of favourites) {%>
            <% if(fav.user._id == locals.user.id) {%>
                <% for( artist of fav.song.artists) {%>
                    <% if(obj[artist.name] == undefined) {%>
                        <% obj[artist.name] = 1 %>
                        <div class="each-album-artist" id="each-artist-<%=artist._id%>">
                            <div class="album-artist-info">
                                <a href="/user/favourite/artist-songs/?artist_id=<%=artist._id%>" class="each-artist-fav"><img class="artist-photo-small" src="<%= artist.photo%>" alt=""></a>
        
                                <div class="album-artist-details-name">
                                    
                                    <a href="/user/favourite/artist-songs/?artist_id=<%=artist._id%>" class="album-artist-name each-artist-fav"><span ><%= artist.name%></span></a>
                                    
                                </div>
                            </div>
                        </div>
                    <%} %>
                <%}%>
                
            <%}%>
        <%}%>

    </div>
</div>


