<div class="whole-fav" id="favourite-albums">
    <div class="title"><%= title%></div>

    <div class="albums-artists-container">

        <% var obj = new Object() %>

        <% for(fav of favourites) {%>
            <% if(fav.user._id == locals.user.id) {%>
                <% if(obj[fav.song.album.name] == undefined) {%>
                    <% obj[fav.song.album.name] = 1 %>
                    <div class="each-album-artist" id="each-album-<%=fav.song.album._id%>">
                        <div class="album-artist-info">
                            <a href="/user/favourite/album-songs/?album_id=<%=fav.song.album._id%>" class="each-album-fav" ><img class="each-photo" src="<%= fav.song.album.photo%>" alt=""></a>
    
                            <div class="album-artist-details-name">
                                
                                <a href="/user/favourite/album-songs/?album_id=<%=fav.song.album._id%>" class="album-artist-name each-album-fav"><span ><%= fav.song.album.name%></span></a>
                                
                            </div>
                        </div>
                    </div>
                <%} %>
                
            <%}%>
        <%}%>

    </div>

</div>    