<html>
    <head>
        <link rel="stylesheet" href="css/layout.css">
        <%- style %>
    </head>

    <body>
        <%- include('_header'); %>

        <div id="whole-body">
            <%- body %>
        </div>

        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>
© 2022 GitHub, Inc.
